@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Armata&display=swap');

:root {
	--bg-clr: #313041;
	--bg-alt-clr: #3a3947;
	--bg-contrast: #b4b4b4;
	--accent: #d83a51;
	--secondary: #91c2bd;
	--tercery: #819dc7;
	--accent_variant: #fa81c2;
	--font_clr: #d9d9d9;
}

body {
	background-color: var(--bg-clr);
	color: var(--font_clr);
	font-family: 'Armata', sans-serif;
}

.mobile-phone {
	border-radius: 10px;
	width: 138px;
	height: 231px;
	background-color: var(--bg-clr);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speaker {
	background-color: var(--font_clr);
	width: 53px;
	height: 8px;
	border-radius: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.screen {
	background-color: var(--accent);
	width: 128px;
	height: 185px;
	margin-bottom: 2px;
}

.microphone {
	background-color: var(--font_clr);
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.form_email {
	background-color: var(--bg-alt-clr);
	border-radius: 55px;
	padding: 1em 1em 1em 5.5em;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1),
		inset 0 2px 2px 1px rgba(251, 251, 251, 0.07);
	border-style: none;
	margin-top: 1em;
	color: var(--font_clr);
}

.form_control {
	position: relative;
}

.form_inputIcon {
	position: absolute;
	top: 32px;
	left: 38px;
}

.btn {
	padding: 1em 7em;
	text-align: center;
}

.btn-primary {
	background-color: var(--accent);
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1),
		inset 0 2px 2px 1px rgba(251, 251, 251, 0.17);
	color: #242330;
	font-weight: 800;
}
