.triangle_container {
	position: absolute;
	max-width: 25px;
	transform: rotate(-16deg);
}

.triangle_secondary {
	stroke: var(--secondary);
	stroke-width: 25px;
}

.triangle_accent {
	stroke: var(--accent);
	stroke-width: 15;
}
